# Dependencies
node_modules/
**/node_modules/

# Build output
dist/
**/dist/

# Environment files
.env
.env.*
!.env.example

# Vite
.vite/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# AWS SAM build artifacts.aws-sam/

# AWS SAM generated artifacts
.aws-sam
.aws-sam/**
**/.aws-sam/**
